{% extends 'base.html' %}

{% block jsheader %}
<link rel='stylesheet' media='screen' type='text/css' href='{{ STATIC_URL }}/css/search.css'>
{% endblock %}

{% block content %}
<div class='results'>
  <h1>Search</h1>
  <form method='GET'>
    <input type="text" name="q">
    <input type="submit" value="Search">
  </form>
</div>

{% if query %}
<div class="results">
  <h1>Results</h1>
  <div class="entry">
    <ol>
      {% load highlight %}
      {% for result in page.object_list %}


<!--       <li>
        {{ result.paste }} -
        {{ result.object.filename }} -
        {{ result.content_type }} -
        {{ result.get_absolute_url }} -
        {{ result.object.commit }}
      </li> -->

        {% if result.content_type == "paste.paste" %}
          <li>
            <a href='{% url "paste_view" pk=result.object.revision.parent_set.pk private_key=result.object.revision.parent_set.private_key %}?commit={{ result.object.revision.commit }}'>
            {{ result.object.filename }} - {{ result.object.revision.commit|slice:":8"}}</a>
            <!-- <a href="{% url "paste_view" pk=result.object.revision.parent_set.pk %}">
              {{ result.object.filename }}
            </a> -->
            <br>
            {% highlight result.object.paste with query %}
          </li>
        {% endif %}

      {% empty %}
        <p>No results found.</p>

      {% endfor%}
    </ol>
  </div>
  {% if page.has_previous or page.has_next %}
    <div>
      {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
      |
      {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
    </div>
  {% endif %}
</div>
{% endif %}

{% endblock %}
